/*=============================================
  #CSS RESET
=============================================*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0;margin:0 0 1em}

/*=============================================
  #TOOLS
=============================================*/
html{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
*,:after,:before{-webkit-box-sizing:inherit;-moz-box-sizing:inherit;box-sizing:inherit}

/*=============================================
  #ROOT VARIABLES
=============================================*/
:root {
  --background-color: #1B1D29;

  --primary-color: #37EC92;
  --secondary-color: #37C3EC;
  
  --text-color: #707796;
  --darker-text-color: #575C75;
  --comment-color: #454A5F;
  --highlight-color: #D3D7E9;

  --font-size-px: 16px;
  --font-size-rem: 1.6rem;

  --mobile-font-size-px: 14px;
  --mobile-font-size-rem: 1.4rem;
  
  --default-padding: 24px;
  --small-padding: 16px;
  --large-padding: 40px;

  --default-font: auger-mono, monospace;

  --comment-width-hashtags: '#';
  
  --border-settings: .18em solid #454A5F;
}

/*=============================================
  #GENERAL
=============================================*/
* {
  font-family: inherit;
  line-height: inherit;
  color: inherit;
}

html {
  overflow-x: hidden;

  min-height: 100%;
  height: 100%;

  font-size: 1em;
  background-color: var(--background-color);
}

body {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: var(--default-font);
  color: var(--text-color);
  font-size: 1em;
  line-height: 1.6;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--background-color);
}

/*=============================================
    #HEADINGS
=============================================*/
h1 {
    font-size: 1.3em;
}

h2 {
    color: #999fb7;
    font-size: 1em;
}

h1 + * {
    margin-top: .8em;
}
/*=============================================
    #MAIN
=============================================*/
main {
    /* padding: 2em; */
}

/*=============================================
    #GRID
=============================================*/

ul {
    --gap: 0.35em;
	--avatar-size: 4em;
	--overlap-size: 6em;
	--hover-overlap-size: 16em;
	--num-children: 5;
	
	display: grid;
	gap: var(--gap);
	
	grid-auto-flow: column;
	grid-template-columns: repeat(var(--num-children), 1fr);
    width: calc(((var(--num-children)*var(--overlap-size)) + (0.18em * 5)) + var(--gap));

}

    li {
        position: relative;

        width: var(--overlap-size);

        cursor: pointer;
        border: var(--border-settings);

        height: 6em;
        border-radius: 6em;
        overflow: hidden;

        transition: all ease-in-out 0.25s;
    }

    li:first-of-type { --hover-overlap-size: 20em; }
    li:last-of-type { --hover-overlap-size: 21em; }
    li:nth-of-type(3) { --hover-overlap-size: 18em; }

    li:hover {
        width: var(--hover-overlap-size);
        background-color: var(--comment-color);
    }

        li > figure {
            position: absolute;
            inset: -0.18em;

            display: flex;
            align-items: center;

            width: var(--hover-overlap-size);

            gap: var(--gap);
        }

        li:hover > figure figcaption {
            opacity: 100%;
        }

            /* Content container */
            figcaption {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: .3em;

                opacity: 0;
                transition: all ease-in-out 0.25s;
            }

            /* Expertise label */
            figcaption p {
                padding: .3em .8em;

                font-size: .8em;
                color: #104b2e;
                text-transform: uppercase;
                font-weight: 700;
                
                border-radius: 1em;
                background-color: var(--primary-color);
            }

            li:first-of-type figcaption p {
                color: #17414d;
                background-color: var(--secondary-color);
            }

    li picture {
        display: block;

        width: var(--overlap-size);
        min-width: var(--overlap-size);

        height: var(--overlap-size);
        min-height: var(--overlap-size);
    }

        picture > img {
            padding: 12px;

            width: 100%;
            height: 100%;

            object-fit: cover;
            object-position: center;
        }

    li picture,
    picture > img { border-radius: 50%; }