<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://use.typekit.net/xra3dmk.css">
    <link rel="stylesheet" href="/layouts/styles/style.css">
    <title>Layout</title>
</head>
<body>

    <main>

        <ul>
            <li>
                <figure>
                    <picture>
                        <img src="/layouts/images/vasillis-pf.jpeg" alt="Vasilis van Gemert Avatar">
                    </picture>

                    <figcaption>
                        <h2>Vasilis van Gemert</h2>
                        <p>Kong lead</p>
                    </figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <picture>
                        <img src="/layouts/images/noya_logo-dark.png" alt="Maijla Ikiz Avatar">
                    </picture>

                    <figcaption>
                        <h2>Maijla Ikiz</h2>
                        <p>Team Layout</p>
                    </figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <picture>
                        <img src="/layouts/images/Rachid-ai.png" alt="Rachid el Ouali Avatar">
                    </picture>

                    <figcaption>
                        <h2>Rachid el Ouali</h2>
                        <p>Team Layout</p>
                    </figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <picture>
                        <img src="/layouts/images/Mijn_Geweldige_Hoofd.png" alt="Danian Marengo Avatar">
                    </picture>

                    <figcaption>
                        <h2>Danian Marengo</h2>
                        <p>Team Layout</p>
                    </figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <picture>
                        <img src="/layouts/images/quenten.png" alt="quenten">
                    </picture>

                    <figcaption>
                        <h2>Quenten Schoonderwoerd</h2>
                        <p>Team Layout</p>
                    </figcaption>
                </figure>
            </li>
        </ul>
    </main>
    
</body>
</html>