<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://use.typekit.net/xra3dmk.css">
    <link rel="stylesheet" href="/layouts/styles/style.css">
    <title>Layout</title>
</head>
<body>

    <main>

        <ul>
            <li>
                <figure>
                    <picture>
                        <img src="/layouts/images/dummy-person.png" alt="Dummy avatar">
                    </picture>

                    <figcaption>
                        <h2>Docent naam</h2>
                        <p>Team lead</p>
                    </figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <picture>
                        <img src="/layouts/images/dummy-person.png" alt="Dummy avatar">
                    </picture>

                    <figcaption>
                        <h2>Student naam</h2>
                        <p>Expertise</p>
                    </figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <picture>
                        <img src="/layouts/images/dummy-person.png" alt="Dummy avatar">
                    </picture>

                    <figcaption>
                        <h2>Student naam</h2>
                        <p>Expertise</p>
                    </figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <picture>
                        <img src="/layouts/images/dummy-person.png" alt="Dummy avatar">
                    </picture>

                    <figcaption>
                        <h2>Student naam</h2>
                        <p>Expertise</p>
                    </figcaption>
                </figure>
            </li>
        </ul>
    </main>
    
</body>
</html>