/* =============================================================================
  #RESET
============================================================================= */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0;margin:0 0 1em}


/* =============================================================================
  #TOOLS
============================================================================= */
html { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
*, *:before, *:after { -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit; }

/* =============================================================================
  #CSS VARIABLES
============================================================================= */
:root {

}

/* =============================================================================
  #GENERAL
============================================================================= */
* {
    font-family: inherit;
    line-height: inherit;
    color: inherit;
}

html {
    min-height: 100%;
    height: 100%;

    font-size: 16px;
    font-size: 62.5%;
}

body {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 100vh;
    min-height: -webkit-fill-available;

    /* font-family: var(--default-font);
    font-size: var(--mobile-font-size-px); font-size: var(--mobile-font-size-rem); */
    color: var(--text-color);
    line-height: 1.6;
  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background: #e5e5e5;
}

/* =============================================================================
  #TYPOGRAPHY
============================================================================= */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  line-height: 1.1;
}

/* =============================================================================
  #MAIN
============================================================================= */
main {
  padding: 30px;
}

/* =============================================================================
  #PANEL
============================================================================= */
/* Panel container */
form {
  position: relative;
  display: flex;
  gap: 6px;

  padding: 6px;
  border-radius: 14px;
  overflow: hidden;

  background-color: #353535;

  box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 25%) inset, 
              3px 3px 6px 0px rgb(195, 195, 195);

  z-index: 50;
}

  fieldset {
    position: relative;
    width: 80px;
    height: 80px;
  }

  /* Button wrapper */
  fieldset > label,
  section > label {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;

    padding: 10px;

    background-color: #616161;
    border-radius: 10px;

    box-shadow: 0px 0px 5px 1px rgb(73 73 73 / 79%) inset, 
                3px 3px 2px 2px rgb(29 29 29);
    border: 3px solid transparent;
    transform: scale(1);

    cursor: pointer;
    transition: all 250ms ease-in-out;
    z-index: 300;
  }

  /* All children of button wrapper */
  fieldset > *,
  section > * {
    cursor: pointer;
  }

  /* fieldset::before,
  fieldset::after {
    content: "";
    position: absolute;
  } */

  fieldset::before {
    content: '';
    position: absolute;

    pointer-events: none;

    top: -3px;
    bottom: -3px;

    left: -20px;
    right: -20px;

    height: auto;

    transform: scale(1);

    /* background-color: red; */
    background: linear-gradient(90deg, 
                transparent 0%, rgb(47 47 47 / 60%) 20%,
                rgb(47 47 47 / 60%) 80%, 
                transparent 100%);

    opacity: 100%;
    /* transition: all 250ms ease-in-out; */
    z-index: 200;
  }

  /* Define the keyframe animation */
@keyframes hideShadow {
  from { 
    opacity: 100%; 
  }
  to { 
    opacity: 0%;
  }
}

@keyframes revealShadow {
  from { 
    opacity: 0%;
  }
  to { 
    opacity: 100%; 
  }
}

@keyframes decreaseZindex {
  from { 
    z-index: 200;
  }
  to { 
    z-index: 100;
  }
}

@keyframes increaseZindex {
  from { 
    z-index: 200;
  }
  to { 
    z-index: 100;
  }
}

/* Apply the keyframe animation when the checkbox is checked */
fieldset:has(input:checked)::before {
  animation: hideShadow 250ms forwards;
  opacity: 0;
}

/* Pause or reset the animation when the checkbox is unchecked */
fieldset:has(input:not(:checked))::before {
  animation: revealShadow 250ms forwards;
  opacity: 100%;
}


    /* Button clicked */
    fieldset:has(input:checked) > label,
    section:has(input:checked) > label {
      transform: scale(0.97);
      box-shadow: 0px 0px 5px 1px rgb(73 73 73 / 79%) inset, 
                  0px 0px 6px 2px rgb(29 29 29);
      /* z-index: 100; */
    }

    fieldset:has(input:checked) > label {
      animation: decreaseZindex 250ms forwards 250ms;
    }

    /* Reset tabbing style */
    fieldset:has(input:focus) > label,
    section:has(input:focus) > label {
      border: 3px solid transparent;
    }

    /* Tabbing style */
    fieldset:has(input:focus-visible) > label,
    section:has(input:focus-visible) > label {
      border: 3px solid #949494;
    }

    /* Hiding the actual input visually */
    input {
      opacity: 0;
      position: absolute;

      inset: 0;
      margin: 0;
    }

    /* Clickable label: holds the circle */
    /* Specific styling for checkbox */
    input[type="checkbox"] + div {
      position: relative;
      width: 100%;
      height: 100%;

      display: flex;
      align-items: center;
      justify-content: center;

      border-radius: 50px;
      border: 5px solid #6e6e6e;

      outline: 1px solid #616161;

      box-shadow: 3px 4px 8px 0px rgba(58, 58, 58, 0.729);
      z-index: 400;
    }

    input[type="checkbox"] + div > div {
      width: 100%;
      height: 100%;

      border-radius: 50%;
      border: 1px solid #757575;

      padding: 35%;

      background: linear-gradient(45deg, rgb(170 170 170 / 94%), rgb(63 63 63) 80%);
    }

    input[type="checkbox"] + div > div span {
      display: block;

      width: 100%;
      height: 100%;

      border-radius: 50%;

      border: 1px solid #686868;
      background-color: #565656;
      box-shadow: 0px 0px 5px 1px transparent,
                  0px 1px 2px 1px #474747 inset;

      transition: all 250ms ease-in-out;
    }

    input[type="checkbox"]:checked + div > div span {
      border: 1px solid transparent;
      background-color: #01ff56;
      box-shadow: 0px 0px 5px 1px #01ff56,
                  0px 1px 2px 1px transparent inset;
    }